* {
    box-sizing: border-box;
}
canvas, .grid {
    display: block;
    /* user-drag: none; */
    -webkit-user-drag: none;
    -moz-user-drag: none;
    user-select: none;
    pointer-events: auto; /* no drag */
}
body {
    margin: 0;
    font-family: monospace;
    padding: 0;
    background: #555;
}

/* rules */
.rules {
    display: flex;
    flex-direction: column;
    gap: 6px;
    padding: 12px;
    height: 100vh;
    overflow: auto;
}
.rule, .rule-part {
    width: fit-content;
    display: flex;
    gap: 6px;
    background: #444;
    outline: 1px solid #777;
    border-radius: 6px;
    padding: 12px 3px 3px;
}
.rule-part {
    background: #333;
    border-radius: 2px;
}
.pattern-wrap {
    position: relative;
    outline: #666 solid 1px;
}
.rule.selected, .rule-part.selected, .pattern-wrap.selected {
    outline: 1px solid #0ff;
}
.pattern-wrap > canvas, .pattern-wrap > .grid {
    image-rendering: pixelated;
    width: 64px;
    height: 64px;
}

/* play screen */
.screen {
    position: absolute;
    padding: 12px;
    top: 0; right: 0;
}
.screen-wrap {
    position: relative;
    outline: #666 solid 1px;
}
.screen-wrap > canvas {
    image-rendering: pixelated;
    width: 256px;
    height: 256px;
    background: #000;
    border: 1px solid #777;
    border-radius: 6px;
}
.screen-wrap.selected {
    outline: 1px solid #0ff;
}

/* shared */
.grid {
    display: grid;
    position: absolute;
    top: 0; left: 0;
    z-index: 10;
}
.pixel {
    width: 8px;
    height: 8px;
    border: 0.5px solid #99999999;
    background: transparent;
}
.grid::after {
    /* Helps show the tile borders for multi-tile grids */
    content: "";
    position: absolute;
    inset: 0;
    pointer-events: none;
    background-image:
        linear-gradient(to right,  #99999999 1px, transparent 1px),
        linear-gradient(to bottom, #99999999 1px, transparent 1px);
    background-size: calc(var(--tile-size) * var(--pixel-scale) * 1px) 
                     calc(var(--tile-size) * var(--pixel-scale) * 1px);
}