* {
    box-sizing: border-box;
}
canvas, .grid {
    display: block;
    /* user-drag: none; */
    -webkit-user-drag: none;
    -moz-user-drag: none;
    user-select: none;
    pointer-events: auto; /* no drag */
}
body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 0;
    background: #555;
    font-size: 14px;
}

/* bottom bar */
.bottom-bar {
    position: fixed;
    bottom: 0; left: 0;
    width: 100%;
    z-index: 20;
}
.actions, .tool-settings {
    position: relative;
    background: #444;
    width: 100%;
    padding: 6px;
    border-top: 1px solid #777;
}
.actions.hidden {
    display: none;
}
.tool-settings {
    background: #333;
    display: flex;
    gap: 6px;
    overflow-x: scroll;
}
.tool-settings > .options-container {
    display: flex;
    flex-shrink: 0;
    align-items: center;
}
.tool-settings .options-container label {
    color: #fff;
    padding: 0 6px;
}
.actions button, .tool-settings button {
    background: #222;
    color: #fff;
    outline: 1px solid #777;
    outline-offset: -0.5px;
    border: none;
    border-radius: 0;
    padding: 6px 12px 6px 6px;
    cursor: pointer;
}
.actions button:hover {
    background: #444;
}
.actions button:active {
    background: #555;
}
.tool-settings button {
    padding: 6px 12px;
    min-width: 40px;
}
.tool-settings button:hover {
    box-shadow: inset 0 0 0 1.5px #888, inset 0 0 0 2.5px #222;
}
.tool-settings button.active {
    box-shadow: inset 0 0 0 2px #0ff, inset 0 0 0 3px black;
}
.actions button.hidden {
    display: none;
}

/* rules */
.rules {
    display: flex;
    flex-direction: column;
    gap: 6px;
    padding: 12px;
    height: 100vh;
    overflow: auto;
    padding-bottom: 200px;
}
.rule, .rule-part {
    width: fit-content;
    display: flex;
    gap: 6px;
    background: #444;
    outline: 1px solid #777;
    border-radius: 6px;
    padding: 12px 3px 3px;
}
.rule-part {
    background: #333;
    border-radius: 2px;
    align-items: center;
    color: #aaa;
    font-size: 0.8em;
}
.pattern-wrap {
    position: relative;
    outline: #666 solid 1px;
}
.rule.selected, .rule-part.selected, .pattern-wrap.selected {
    outline: 1px solid #0ff;
}
.pattern-wrap > canvas, .pattern-wrap > .grid {
    image-rendering: pixelated;
    width: 64px; /* default */
    height: 64px;  /* default */
}

/* play screen */
.screen {
    position: absolute;
    padding: 12px;
    top: 0; right: 0;
}
.screen-wrap {
    position: relative;
    outline: #666 solid 1px;
}
.screen-wrap.selected {
    outline: 1px solid #0ff;
    outline-offset: 0.5px;
}
.screen-wrap > canvas {
    image-rendering: pixelated;
    width: 256px; /* default */
    height: 256px; /* default */
}

/* shared */
.pattern-wrap, .screen-wrap {
    background-image: repeating-linear-gradient(45deg,#666,#666 1px,#333 1px,#333 4px);
}
.grid {
    display: grid;
    position: absolute;
    top: 0; left: 0;
    z-index: 10;
}
.pixel {
    width: calc(var(--pixel-scale) * 1px);
    height: calc(var(--pixel-scale) * 1px);
    border: 0.5px solid #99999955;
    background: transparent;
}
.grid::after {
    /* Helps show the tile borders for multi-tile grids */
    content: "";
    position: absolute;
    inset: 0;
    left: -0.5px;
    top: -0.5px;
    pointer-events: none;
    background-image:
        linear-gradient(to right,  #999999 1px, transparent 1px),
        linear-gradient(to bottom, #999999 1px, transparent 1px);
    background-size: calc(var(--tile-size) * var(--pixel-scale) * 1px) 
                     calc(var(--tile-size) * var(--pixel-scale) * 1px);
}
.pixel:hover {
    outline: 1px solid #fa0;
    outline-offset: -0.5px;
    z-index: 20;
}